# Interface: VerificationResult

Defined in: [cryptosuite/interface.ts:18](https://github.com/dcdpr/did-btcr2-js/blob/c82bc5c69016e1146a0c52c6e6b21621f5abd6d4/packages/cryptosuite/src/cryptosuite/interface.ts#L18)

## Properties

### mediaType?

> `optional` **mediaType**: `string`

Defined in: [cryptosuite/interface.ts:21](https://github.com/dcdpr/did-btcr2-js/blob/c82bc5c69016e1146a0c52c6e6b21621f5abd6d4/packages/cryptosuite/src/cryptosuite/interface.ts#L21)

***

### verified

> **verified**: `boolean`

Defined in: [cryptosuite/interface.ts:19](https://github.com/dcdpr/did-btcr2-js/blob/c82bc5c69016e1146a0c52c6e6b21621f5abd6d4/packages/cryptosuite/src/cryptosuite/interface.ts#L19)

***

### verifiedDocument?

> `optional` **verifiedDocument**: [`DidUpdateInvocation`](../../common/interfaces/DidUpdateInvocation.md)

Defined in: [cryptosuite/interface.ts:20](https://github.com/dcdpr/did-btcr2-js/blob/c82bc5c69016e1146a0c52c6e6b21621f5abd6d4/packages/cryptosuite/src/cryptosuite/interface.ts#L20)
